<configuration>

	<property name="log.home" value="target" />
	<property name="app.name" value="hibhik" />
	<property name="log.name" value="${log.home}/${app.name}" />

	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg%n
			</pattern>
		</encoder>
	</appender>
	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${log.name}.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover with gz compression for old log-files -->
			<fileNamePattern>${log.name}.%d.log.gz</fileNamePattern>
			<!-- keep 7 days worth of history -->
			<maxHistory>7</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{dd HH:mm:ss:SSS} %-5level %logger{35} - %msg%n</pattern>
		</encoder>
	</appender>

    <logger name="com.descartes" level="info" />
    <logger name="com.descartes.hibhik" level="debug" />
    
    <!--  Logging categories used by log4jdbc -->
    
    <logger name="jdbc" level="info" />
    <!-- SQLlog shows the actual queries -->
    <logger name="jdbc.sqlonly" level="info" />
    <logger name="jdbc.sqltiming" level="off" />
    <!-- JDBC audit logs rollback and close but also a lot of other stuff -->
    <logger name="jdbc.audit" level="off" />
    <logger name="jdbc.resultset" level="off" />
    <logger name="jdbc.resultsettable" level="off" />

    <logger name="java.sql.DatabaseMetaData" level="warn" />
    <logger name="org.hsqldb" level="debug" />
    <logger name="org.hibernate.SQL" level="info" />
    <logger name="com.zaxxer.hikari" level="debug" />
    <logger name="com.zaxxer.hikari.HikariPool" level="debug" />
    
    <logger name="org.hibernate.hql.internal.ast.HqlSqlWalker" level="error" />

	<root level="info">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</root>
</configuration>
